@page
@model billingApp.Pages.billing.PaymentModel
@{
}
<h2>New Payment</h2>
@if (Model.ErrorMessage.Length > 0)
{
<div class="alert alert-dismissible alert-warning fade show" role="alert">
    <strong>@Model.ErrorMessage</strong>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
</div>
}
<form method="post">
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Amount</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="amount" value="@Model.paymentInfo.Amount" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Customer ID</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="customerId" value="@Model.paymentInfo.CustomerId" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-sm-3 col-sm-3 d-grid">
            <button type="submit" class="btn btn-primary" name="submit">Submit</button>
        </div>
        <div class="offset-sm-3 col-sm-3 d-grid">
            <a class="btn btn-outline-primary" href="/" role="button">Cancel</a>
        </div>
    </div>
</form>
